<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Online galerija</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="assets/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="assets/css/new-age.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" th:href="@{/home}">Na početnu!</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" th:href="@{/register}" sec:authorize="isAnonymous()">Registracija</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" th:href="@{/login}" sec:authorize="isAnonymous()">Prijava</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">Dobrodošli na Online galeriju! Mjesto na kojemu možete objaviti svoje umjetničke crteže i fotografije!</h1>
            <a th:href="@{/home}" class="btn btn-outline btn-xl js-scroll-trigger">Pogledajte objave naših članova!</a>
          </div>
        </div>
        <!-- <div class="col-lg-5 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else!
                  <img src="img/demo-screen-1.jpg" class="img-fluid" alt="">
                </div>
                <div class="button">
                  You can hook the "home button" to some JavaScript events or just remove it
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </header>
  
  <footer>
    <div class="container">
      <p>&copy; Online galerija 2021.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a target="_blank" href="https://github.com/mrakic96/online-galerija">Github</a>
        </li>
        <li class="list-inline-item">
          <a target="_blank" href="http://fsre.sum.ba/">Fakultet</a>
        </li>
      </ul>
    </div>
  </footer>
</body>

</html>
